# python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
env/
ENV/
.venv
online-cafe-venv

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

/media!

# IDEs
# PyCharm
../.idea/

# VSCode
.vscode/
*.code-workspace

# Jupyter Notebook
.ipynb_checkpoints

# OS
# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*

Secrets
.env
*.env


migrations